<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <h2>Add Student</h2>

  <label for="image">Image:</label>
  <input type="text" id="image" formControlName="image" />
  
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name" />

  <label for="age">Age:</label>
  <input type="number" id="age" formControlName="age" />

  <label for="fatherName">fatherName:</label>
  <input type="text" id="fatherName" formControlName="fatherName" />

  <label for="motherName">motherName:</label>
  <input type="text" id="motherName" formControlName="motherName" />

  <button type="submit">Submit</button>
</form>